spring:
  application:
    name: owsm-auth-service

  datasource:
    url: jdbc:postgresql://localhost:5433/authService
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        use_sql_comments: true

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  mail:
    host: smtp.gmail.com
    port: 587
    username: chanvichea169@gmail.com
    password: fqtsaxyo bgilzlyr
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

server:
  port: 8081

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

jwt:
  secret: 2b7e151628aed2a6abf7158809cf4f3c2b7e151628aed2a6abf7158809cf4f3c
  expiration: 86400000

errors:
  USER_NOT_FOUND: "User not found"
  EMAIL_ALREADY_EXISTS: "Email already exists"
  INVALID_CREDENTIALS: "Invalid credentials"
